@using GiayDep.Service_KhachHang;
@model KhachHang

@{
    ViewBag.Title = "SuaKH";
    Layout = "~/Views/GiayDep/Trangkethua.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4 col-sm-offset-1">
            <div class="login-form">
                <!--login form-->
                <center><h3>Sửa thông tin</h3></center>
                <br />
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true)

                        <div class="form-group">
                            @Html.LabelFor(model => model.HoTen,"Họ tên ", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.HoTen)
                                @Html.ValidationMessageFor(model => model.HoTen)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.NgaySinh,"Ngày sinh", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.NgaySinh)
                                @Html.ValidationMessageFor(model => model.NgaySinh)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Email,"Email", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Email)
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(model => model.SDT,"Số điện thoại", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.SDT)
                                @Html.ValidationMessageFor(model => model.SDT)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.DiaChi,"Địa chỉ", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.DiaChi)
                                @Html.ValidationMessageFor(model => model.DiaChi)
                            </div>
                        </div>

                        @*<div class="form-group">
                                @Html.LabelFor(model => model.GioiTinh, "Giới tính", new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="pdsa-radiobutton btn btn-primary active">
                                                <span class="glyphicon glyphicon-record"></span>
                                                @Html.RadioButtonFor(model => model.GioiTinh, "Nam",
                                                                    new { id = "Nam" }) Nam
                                            </label>
                                            <label class="pdsa-radiobutton btn btn-primary">
                                                <span class="glyphicon glyphicon-unchecked"></span>
                                                @Html.RadioButtonFor(model => model.GioiTinh, "Nữ",
                                                                      new { id = "Nữ" }) Nữ
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>*@



                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-4">
                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        </div>
    </div>


        <style>
            .pdsa-radiobutton.btn.btn-primary.active {
                color: blue;
                border-color: #dfdfdf;
            }
        </style>
