@using GiayDep.Service_KhachHang
@{
    var khachhang = Session["khachhang"] as KhachHang;
}
@if (khachhang != null)
{
                            <li class="dropdown">
                                <a href="#">Xin chào bạn: @khachhang.HoTen<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">

                                    <li><a href="@Url.Action("lichsumuahang","User")">Lịch sử mua hàng</a></li>
                                    <li><a href="@Url.Action("SuaKH","User", new { @makh =@khachhang.MaKH })">Thay đổi thông tin</a></li>
                                </ul>
                                </li>
        @*<li><a href="">Xin chào bạn: @khachhang.HoTen</a></li>*@
        <li>@Html.ActionLink("Đăng xuất", "Logout", "User")</li>
}
else
{
        <li><a href="/User/Login"><i class="fa fa-lock"></i> Đăng nhập</a> </li>
}