@using GiayDep.Service_KhachHang
@model  KhachHang
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/GiayDep/Trangkethua.cshtml";
}

    <!--form-->
    <div class="container">
            <div class="row">
                @*<div class="col-sm-4 col-sm-offset-1">
                    <div class="login-form">
                        <!--login form-->
                        <h2>Login to your account</h2>
                        <form action="#">
                            <input type="text" placeholder="Name" />
                            <input type="email" placeholder="Email Address" />
                            <span>
                                <input type="checkbox" class="checkbox">
                                Keep me signed in
                            </span>
                            <button type="submit" class="btn btn-default">Login</button>
                        </form>
                    </div><!--/login form-->
                </div>
                <div class="col-sm-1">
                    <h2 class="or">OR</h2>
                </div>*@
                <div class="col-sm-2"></div>
                <div class="col-sm-5">
                    <div class="signup-form">
                        <!--sign up form-->
                        <center><h2>Đăng kí tài khoản</h2></center>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                <hr />
                                @*@Html.ValidationSummary(false)*@

                                <div class="form-group">
                                    @Html.LabelFor(model => model.HoTen, "Họ tên", new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.HoTen)
                                        @Html.ValidationMessageFor(model => model.HoTen)
                                        <span id="loiHoTen" style="color:red;"></span>
                                    </div>
                                </div>

                                
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Email, "Email", new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.Email)
                                        @Html.ValidationMessageFor(model => model.Email)
                                        <span id="loiEmail" style="color:red;"></span>
                                        <span style="color:red;"> @ViewBag.emailfalse</span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.MatKhau,"Mật khẩu ", new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.PasswordFor(model => model.MatKhau)
                                        @Html.ValidationMessageFor(model => model.MatKhau)
                                        <span id="loiMatKhau" style="color:red;"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.NgaySinh, "Ngày sinh", new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.NgaySinh)
                                        @Html.ValidationMessageFor(model => model.NgaySinh)
                                        <span id="loiNgaySinh" style="color:red;"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.SDT,"Số điện thoại", new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.SDT)
                                        @Html.ValidationMessageFor(model => model.SDT)
                                        <span id="loiSDT" style="color:red;"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.DiaChi,"Địa chỉ", new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.DiaChi)
                                        @Html.ValidationMessageFor(model => model.DiaChi)
                                        <span id="loiDiaChi" style="color:red;"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.GioiTinh,"Giới tính", new { @class = "control-label col-md-3" })
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <div class="btn-group" data-toggle="buttons">
                                                <label class="pdsa-radiobutton btn btn-primary active">
                                                    <span class="glyphicon glyphicon-record"></span>
                                                    @Html.RadioButtonFor(model => model.GioiTinh, "Nam",
                                                new { id = "Nam" }) Nam
                                                </label>
                                                <label class="pdsa-radiobutton btn btn-primary">
                                                    <span class="glyphicon glyphicon-unchecked"></span>
                                                    @Html.RadioButtonFor(model => model.GioiTinh, "Nữ",
                                                  new { id = "Nữ" }) Nữ
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                        
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-4">

                                        <input id="btnsubmit" type="submit" value="Đăng kí" class="btn btn-default" style="background:orange; text-align:center;" />
                                    </div>
                                </div>
                            </div>
                        }

                    </div><!--/sign up form-->
                </div>
            </div>
    </div>
<script type="text/javascript">

    $('#btnsubmit').click(function ()
    {
        var loi = 0;

        if($('#HoTen').val() == "")
        {
            $('#loiHoTen').text("(*)Bạn chưa nhập họ tên");
            loi++;
        } else {
            $('#loiHoTen').text("");
        }
        if($('#Email').val() == "")
        {
            $('#loiEmail').text("(*)Bạn chưa nhập vào email");
            loi++;
        } else {
            $('#loiEmail').text("");
        }
        if ($('#MatKhau').val() == "") {
            $('#loiMatKhau').text("(*)Bạn chưa nhập vào mật khẩu");
            loi++;
        } else {
            $('#loiMatKhau').text("");
        }
        if ($('#NgaySinh').val() == "") {
            $('#loiNgaySinh').text("(*)Bạn chưa nhập vào ngày sinh");
            loi++;
        }
        else {
            $('#loiNgaySinh').text("");
        }
        if ($('#SDT').val() == "") {
            $('#loiSDT').text("(*)Bạn chưa nhập vào ngày sinh");
            loi++;
        }
        else {
            $('#loiSDT').text("");
        }
        if ($('#DiaChi').val() == "") {
            $('#loiDiaChi').text("(*)Bạn chưa nhập vào ngày sinh");
            loi++;
        }
        else {
            $('#loiDiaChi').text("");
        }
        if(loi==0)
        {
            return true;
        } else {
            return false;
        }
    }
    );

   
</script>
<style>
    .pdsa-radiobutton.btn.btn-primary.active {
        color: blue;
        border-color: #dfdfdf;
    }
</style>


